@model IEnumerable<ARProject.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>
<div class="justify-content-between col-3">
    @foreach (var item in Model)
    {
        <div class="card">
            <img class="card-img-top" src="@item.Image" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">Product @item.Id</h5>
                <p class="card-text">More info about product.</p>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>